.taxonomy-select {
    height: 200px;
    overflow: visible;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    margin: 0;
}

.taxonomy-select > .taxonomy-select-window {
    padding: 15px;
}

.taxonomy-select > .taxonomy-select-window > ul,
.taxonomy-select > .taxonomy-select-window > ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.taxonomy-select > .taxonomy-select-window > ul li > a {
    display: block;
    padding: 5px 8px;
    color: #444;
}

.taxonomy-select > .taxonomy-select-window > ul li.active > a,
.taxonomy-select > .taxonomy-select-window > ul li.active:hover > a {
    background: #444;
    color: #fff;
}

.taxonomy-select > .taxonomy-select-window > ul li > a > .icon {
    margin-left: 10px;
}

.taxonomy-select > .taxonomy-select-window > ul li > a:hover {
    background: #eee;
}

.taxonomy-select > .taxonomy-select-window {
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    height: 200px;
    overflow-y: auto;
}

.taxonomy-breadcrumb {
    min-height: 40px;
    background: #eee;
    padding: 0 15px;
}

.taxonomy-breadcrumb > ol {
    margin: 0;
    padding: 0;
}

.taxonomy-breadcrumb > ol > li {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin-right: 5px;
    line-height: 40px;
}